numpy==1.24.4
numpy==1.24.3
pandas==1.5.3
scikit_learn==1.2.2
scipy==1.10.0
scipy==1.6.3
torch==2.1.1
torch==2.1.0
gymnasium==0.29.1
highway_env==1.8.2
ipython==8.12.2
matplotlib==3.7.2
numpy==1.24.4
numpy==1.24.3
pandas==1.5.3
PyVirtualDisplay==3.0
scipy==1.10.0
scipy==1.6.3
seaborn==0.13.1
stable_baselines3==2.2.1
torch==2.1.1
torch==2.1.0
tqdm==4.65.0
